@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,900;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

header {
  margin-top: 30px;
  margin-bottom: 30px;
}

header h1 {
  /* Aplique as propriedades ao h1 dentro do header */
  font-family: "REM", sans-serif;
  font-size: 46pt;
  color: white; /* Cor do preenchimento interno do texto */
  text-align: center;
  text-shadow: -1px -1px 0 black, 0px -1px 0 black, 1px -1px 0 black,
    -1px 0px 0 black, 1px 0px 0 black, -1px 1px 0 black, 0px 1px 0 black,
    1px 1px 0 black;
}

body {
  font-weight: normal;
  font-family: "REM", sans-serif;
  background-color: #fce6a6;
}

section#adicionarTarefa {
  background-color: white;
  width: 650px;
  padding: 20px;
  margin: auto;
  border: 2.5px dotted black;
  border-radius: 36px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.349);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

section h2 {
  text-align: center;
  color: #fce6a6;
  font-size: 20pt;
  text-shadow: -1px -1px 0 black, 0px -1px 0 black, 1px -1px 0 black,
    -1px 0px 0 black, 1px 0px 0 black, -1px 1px 0 black, 0px 1px 0 black,
    1px 1px 0 black;
}

input[type="text"] {
  text-align: center;
  margin: 0px;
  padding: 20px;
  width: 600px;
  border: none;
  outline: none;
}

input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #bdbdbd77;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.514);
}

#inputTitulo {
  border-bottom: 3px dotted black;
  font-size: 35pt;
}

#inputDescricao::placeholder {
  font-size: 25pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #bdbdbd77;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.514);
  text-align: center;
}

#inputDescricao {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: black;
  font-size: 20pt;
  text-align: justify;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  overflow: hidden;
  min-height: 85px;
  line-height: 1.1;
}

div#divButtons {
  text-align: center;
  width: 650px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
#btnSalvar,
#btnLimpar {
  border-radius: 36px;
  border: 2px solid black;
  width: 250px;
  padding: 10px;
  font-size: 16pt;
  font-family: "REM", sans-serif;
  color: white;
  background-color: #ffd761;
  font-weight: bold;
  cursor: pointer;
  transition: 0.8s;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
    -1px 1px 0 black;
  /*Colocar as sombras como contorno*/
}

#btnSalvar:hover,
#btnLimpar:hover {
  font-size: 18pt;
}

footer {
  background-color: #fce6a6;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

#tarefasSalvas {
  margin: auto;
  margin-top: 50px;
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

#divTarefa {
  background-color: white;
  width: 630px;
  padding: 25px;
  border-radius: 15px;
  border: 3px solid black;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.644);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

#divTarefa:hover {
  transform: scale(1.05);
}

#divTarefa div {
  display: flex;
  align-items: center;
  gap: 20px;
}

#divTarefa p {
  font-size: 20pt;
}

#realizedCheckbox {
  appearance: none;
  background-color: transparent;
  width: 28px;
  height: 28px;
  border: 3px solid #426513;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

#realizedCheckbox:hover {
  width: 33px;
  height: 33px;
}
#realizedCheckbox:checked {
  background-color: #c2ff6e;
  border-color: #426513;
}
#realizedCheckbox:checked::before {
  content: "\e5ca";
  font-family: "Material Symbols Outlined";
  color: #426513;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-variation-settings: "wght" 700;
}

#divTarefa button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(122, 6, 6);
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#deleteIcon {
  font-size: 35px;
  margin: 0px;
  background-color: none;
  transition: 0.5s;
}

#deleteIcon:hover {
  transform: scale(1.17);
}
